<div style="color: rgb(0, 0, 0); background-color: rgb(118, 72, 161); width: 300px; height: 350px;">
    <br>
    <h2 style="margin-left: 50px; margin-top: 10px;">Create new acount</h2>
    <div style="margin-left: 30px;">
        <img src="https://t4.ftcdn.net/jpg/03/42/20/97/240_F_342209741_S0olR7Ls5XeZeRsFoJolF3eVIUKPrCmA.jpg" style="width: 20px; height: 20px;">
        <input [(ngModel)]="num1" style="background-color: rgb(174, 86, 255); width: 200px;">
    </div>
    <br>
    <div style="margin-left: 30px;">
        <img src="https://t4.ftcdn.net/jpg/00/98/26/11/240_F_98261159_Po5JS7ds82XaePJIsG1MiEtHRzOeUPNj.jpg" style="width: 20px; height: 20px;">
        <input [(ngModel)]="num2" style="background-color: rgb(174, 86, 255); width: 200px;">
    </div>
    <br>
    <div style="margin-left: 30px;">
        <img src="https://cdn-icons-png.flaticon.com/128/3082/3082573.png" style="width: 20px; height: 20px;">
        <input [(ngModel)]="num3" style="background-color: rgb(174, 86, 255); width: 200px;">
    </div>
    <br>
    <div style="margin-left: 30px;">
        <img src="https://cdn-icons-png.flaticon.com/128/7259/7259596.png" style="width: 20px; height: 20px;">
        <input [(ngModel)]="num4" style="background-color: rgb(174, 86, 255); width: 200px;">
    </div>
    <br>
    <div style="margin-left: 30px;">
        <img src="https://t4.ftcdn.net/jpg/00/82/56/67/240_F_82566747_T7dXb2E3KI6cV5yFekgL7BO58kOtFt6Y.jpg" style="width: 20px; height: 20px;">
        <input [(ngModel)]="num5" style="background-color: rgb(174, 86, 255); width: 200px;">
    </div>
    <br>
    <button style="margin-left: 100px;" (click)="almacenar()">Registrar</button>
</div>